html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* ------------------------------- */

input[type="text"], input[type="date"] {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

/* ------------------------------- */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html {
    min-width: 900px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: 100px;
    background: #6CAEDD;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.footer {
    height: 100px;
    background: #364850;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

/* ------------------------------- */

a {
  outline: none;
  text-decoration: none;
  display: inline-block;

  margin-right: 0.625%;
  text-align: center;
  line-height: 2;
  color: #000000;
}

/*li:last-child a {
  margin-right: 0;
}

a:visited, a:focus {
  background: #FFD399;
}

a:hover {
  background: orange;
}

a:link {
  background: orange;
}*/

.menu__link, .user__link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link:hover, .user__link:hover {
  text-decoration: underline;
}

/* ------------------------------- */

.sidebar {
    width: 400px;
    flex: 0 0 auto;
}

.sidebar1 {
    order: 1;
    order: 0;
    padding: 50px;
}

.sidebar2 {
    order: 2;
    order: 2;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    min-width: 500px;
    max-width: 2000px;
}

.container {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

/* ------------------------------------- */

.content, .user-sorted {
    width: 100%;
    padding: 10px;
}

.content {
    background: #f1f1f1;
    order: 0;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.user-sorted {
    min-height: 50px;
    max-height: 130px;
    background: #e5e5e5;
    border-radius: 5px;
}

/* ------------------------------------- */

.user-card {
    height: 300px;
    width: 200px;
    background: #d0c0df;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 15px 0 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.user-card, .user-card0, .user-card1 {
    position: relative;
}

.user-card0, .user-card1 {
    width: 100%;
    padding: 30px;
}

.user-card1 {
    height: 210px;
    border-bottom: 1px dashed #919191;
}

.user-name {
    height: 85px;
}

.user-name0 {

    //height: 85px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.user-description {
    text-align: center;
    font-weight: bold;
}

.user-amount {
    width: 100%;
    display: flex;
    color: #1e003a;
    bottom: 0;
}

.user-profile-img0, .user-profile-img1 {
    top: 30px;
    right: 30px;
    border-radius: 10px;
}

.user-amount, .user-profile-img0, .user-profile-img1 {
    position: absolute;
}

.user-profile-img0 {
    height: 300px;
    width: 300px;
}

.user-profile-img1 {
    height: 150px;
    width: 150px;
}

.user-block-info0 {
    width: 350px;
}

.user-name, .user-amount, .user-date0, .user-description0, .user-amount0,
.user-date1, .user-description1, .user-amount1 {
    font-size: 20px;
}

.user-date0, .user-description0, .user-amount0,
.user-date1, .user-description1, .user-amount1 {
    padding: 0 30px 10px 30px;
}

/* ------------------------------------- */
