<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>{% block title %}Home{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <header class="header">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">ООО &laquo;Скайтек&raquo;</p>
            <!--<input class="button" type="submit" name="login" value="Login">-->
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">
                <a href="{% url 'page-login' %}" class="menu__link">Login</a>
            </p>
        </header>

        <div class="container clearfix">
            <aside class="sidebar sidebar1">
                <a href="{% url 'page-home' %}" class="menu__link">Home</a><br>
                <a href="{% url 'page-users' %}" class="menu__link">List of employees</a><br>
                <a href="{% url 'page-users-info' %}" class="menu__link">List of employees (info)</a><br>
            </aside>

            <main class="content">
            {% block content %}
                <p style="text-align: left; font-size: 30px; margin: 0; padding: 1.5em 0;">
                    Тестовое задание на позициюPython/Linux Developer
                </p>
                <h1>Часть 1</h1>
                <ol>
                    <li>Создайте веб страницу, которая будет выводить иерархию сотрудников в древовидной
                        форме. Информация о каждом сотруднике должна храниться в базе данных и содержать
                        следующие данные:</li>
                    <ul>
                        <li>ФИО;</li>
                        <li>Должность;</li>
                        <li>Дата приема на работу;</li>
                        <li>Размер заработной платы.</li>
                    </ul>
                </ol>
                <h1>Часть 2</h1>
                <ol>
                    <li>Создайте базу данных используя миграции Django / Flask. ✅</li>
                    <li>Используйте DB seeder для Django ORM / Flask-SQLAlchemy для
                        заполнения базы данных. ✅</li>
                    <li>Создайте еще одну страницу и выведите на ней список сотрудников
                        со всей имеющейся о сотруднике информацией из базы данных и
                        возможностью сортировать по любому полю. ✅</li>
                    <li>Используя стандартные функции Django / Flask, осуществите аутентификацию
                        пользователя для раздела веб сайта доступного только для зарегистрированных
                        пользователей.</li>
                    <li>Осуществите возможность загружать фотографию сотрудника и отобразите ее на
                        странице ✅, где можно редактировать данные о сотрудник. Добавьте дополнительную
                        колонку с уменьшенной фотографией сотрудника на странице списка всех
                        сотрудников.</li>
                </ol>
            {% endblock %}
            </main>

            <aside class="sidebar sidebar2"></aside>
        </div>

        <footer class="footer"></footer>
    </div>
</body>
</html>